torch
functorch
absl-py
asgiref
cachetools
certifi
cffi
charset-normalizer
colorama
colorlog
Django
django-cors-headers
djangorestframework
filelock
FileLock-git
gevent
google-auth
google-auth-oauthlib
greenlet
grpcio
huggingface-hub
idna
Markdown
MarkupSafe
numpy
oauthlib
packaging
protobuf
psutil
pyasn1
pyasn1-modules
pycparser
pynvml
pyparsing
pypiwin32
pytz
pywin32
PyYAML
regex
requests
requests-oauthlib
rsa
scipy
six
sqlparse
ssd-checker
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tokenizers
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
WMI
zope.event
zope.interface
torchvision
omegaconf
cyy-naive-lib @ git+https://github.com/cyyever/naive_python_lib.git@main
cyy-torch-algorithm @ git+https://github.com/cyyever/torch_algorithm.git@main
cyy-torch-toolbox @ git+https://github.com/cyyever/torch_toolbox.git@main
