
.row .with-border{
    border :2px solid olive;
    padding-left: 0px;
    padding-right: 0px;
}

.panel-header{
 background-color: olive;
 color: white;
 text-align: center;
}


.fa:hover { 
    color: #0351f8;
    cursor: pointer;
 }

