
.row .with-border{
    border :2px solid olive;
    padding-left: 0px;
    padding-right: 0px;
}

.panel-header{
 background-color: olive;
 color: white;
 text-align: center;
}


.fa:hover { 
    color: #0351f8;
    cursor: pointer;
 }

 .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  
  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
  }

  
  .react-bootstrap-table-page-btns-ul{
    float:right;
  }

  .center {
    display: flex;
    align-items: center; 
    justify-content: center;
  }