html,body{
  height:calc(100% - 58px);
}

.main-content{
  height:calc(100% - 58px);
}


#root{
  height: 100%;
}
.App {
  height: 100%;
}
.navbar{
  border-bottom: 1px solid #ececec;
}

.nav-offset{
  margin-top: 58px;
}